<p id="notice"><%= notice %></p>

<h1>エリア一覧</h1>

<table>

  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= map.name %></td>
        <td><%= link_to '移動する', map %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Map', new_map_path %>
